body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient( black, rgb(192, 127, 6), black);
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    display: flex;
    align-items: center; /* Align logo and text vertically */
}

.logo img {
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between the logo and text */
    border-radius:100px ;
}

.logo1 {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

.logo2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links i {
    margin-right: 3px;
}


.nav-links a {
    margin-left: 20px;
}

.nav-links a:active {
    color: orange; 
}

.nav-links a:hover {
    color: orange;
}

.products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px; /* Add margin-top for spacing */
}

.product-info {
    text-align: center;
    background-color: #333; /* Background color for each product info */
    padding: 10px; /* Add padding for spacing */
    border-radius: 10px; /* Add border radius for rounded corners */
    margin: 10px; /* Add margin for spacing between products */
    display: flex;
    width: 300px;
    height: 400px;
    animation: slideInLocation 1s ease-out; /* Apply animation to the location container */
}

.product-info img {
    margin-top: 10%;
    width: 80%;
    height: auto;
}

.product-info p {
    margin-top: 10px;
    color: #fff; /* Text color for price */
    font-size: 1.2rem;
    padding: 5px;
}

.product-info i{
    margin-right: 2px;
}

h1{
    text-align: center;
    padding: 10px;
    animation: slideInHeading 1s ease-out; /* Apply animation to the heading */
}

.product-info:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    opacity: 1;
    background-color: rgb(187, 99, 4);
}

@keyframes slideInLocation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 0.50;
        transform: translateY(0);
    }
}

@keyframes slideInHeading {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .logo img {
        width: 50px; 
        height: auto;
        margin-right: 5px; 
        border-radius:100px ;
        margin-left: 5px;
    }
    .logo1 {
        font-size: 20px;
        font-weight: bold;
        color: orange;
    }
    
    .logo2 {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    
    .nav-links a {
        margin-right: 15px;
    }

    .product-info {
        height: 300px;
    }
}

    


@media screen and (max-width: 480px) {

    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;;
    }

    .logo img {
        width: 50px; 
        height: auto;
        border-radius:100px ;
    }
    .logo1 {
       display: none;
    }
    
    .logo2 {
        display: none;
    }
    
    .nav-links a {
        font-size: 15px;
    }

    .products{
        display: block;
        margin-left: 15%;
    }

    .product-info {
        height: 400px;
    }
    
}
